<h1>カート一覧</h1>
<hr>
<% @cartitems.each do |e| %>
  <%= Product.find_by(id: params[:cartitem][:product_id]).name %>
  <%= Product.find_by(id: params[:cartitem][:product_id]).price %>
  <%= link_to 'カートから削除', cart_item_path(e), data: { turbo_method: :delete } %>
<% end %>

<p>
  合計料金：<% sum = 0 %>
  <% @cartitems.each do |e| %>
    <% sum += (Product.find_by(id: params[:cartitem][:product_id]).price * params[:cartitem][:qty])%>
  <% end %>
  <%= sum %>円
</p>


<%= link_to '商品一覧に戻る', root_path %>